<nav class="nav">
    <div class="container">
        {% include 'logo.twig' %}
        <ul class="navMenu">
            <li><a href="#0">Home</a></li>
            <li><a href="#0">About</a></li>
            <li><a href="#0">Portfolio</a></li>
            <li><a href="#0">Contact</a></li>
        </ul>
        <div class="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</nav>
