/*
|--------------------------------------------------------------------------
| #THEME
|--------------------------------------------------------------------------
*/




// #EDIT
// =========================================================================

* {
    // background: rgba(green, .1);
}



// #VARIABLES
// =========================================================================

$spacing: $gutter * 3;




// #SETUP
// =========================================================================

body,
#app,
.content {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}



// #HOME
// =========================================================================

.home {

    &Brand {
        position: fixed;
        z-index: z(highest);
        top: $gutter;
        right: $gutter;
        width: 200px;

        img {
            width: 100%;
        }
    }

    &Container {
        height: 100%;
        padding: 0;
    }

    &Img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    &Content {
        padding: $spacing;

        p {
            max-width: 540px;
            float: right;
        }

        ul {
            clear: both;
        }
    }

    &Title {
        margin-top: $spacing * 1.5;
        text-transform: uppercase;
        text-align: right;

        h1 {
            color: color(primary);
            font-size: ms(9);
            line-height: 1;
            white-space: nowrap;
            margin-left: -$spacing * 2.6;
        }

        h2 {
            line-height: 1;
            font-weight: normal;
            color: color(font);
        }
    }
}

.homeCarousel {
    position: relative;
    display: flex;
    width: 150%;
    margin-left: -50%;

    &:after {
        content: '';
        position: absolute;
        bottom: $gutter;
        left: -450px;
        height: .35rem;
        width: 500px;  
        background: color(white);
    }

    li {
        position: relative;
        z-index: 10;
        flex: 1 1 auto;
        margin: $gutter * .25;
        height: 250px;
        border-radius: radius(medium);
        @include shadow(large);
        overflow: hidden;

        a {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 100%;
            color: color(font);
            font-size: ms(1);
            font-weight: bold;
            text-decoration: none;
            background: rgba(color(white), .75);
        }

        img {
            position: absolute;
            z-index: -10;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}




// #BRAND
// =========================================================================

.brand {
    position: fixed;
    z-index: 10000;
    z-index: 20;
    display: block;
    padding: $gutter * .5;
    color: color(white);
    text-decoration: none;

    strong {
        margin-left: .5rem;
    }

    img {
        position: relative;
        z-index: 10;
        max-width: 150px;
    }

    &:after {
        content: '';
        position: absolute;
        z-index: -10;
        top: 0;
        left: -10%;
        height: 110%;
        width: 350px;
        background: color(primary);
        transform: skewX(-10deg);
    }
}




// #ABOUT
// =========================================================================

.about {

    &Container {
        position: relative;
        height: 100%;
        width: 100%;
        padding: $spacing * .5 $spacing;

        &:before {
            content: '';
            position: absolute;
            z-index: -20;
            top: 0;
            left: 0;
            height: 50%;
            width: 100%;
            background: color(secondary);
        }

        &:after {
            content: '';
            position: absolute;
            z-index: -10;
            bottom: 8%;
            left: 0;
            height: 50%;
            width: 110%;
            background: color(white);
            transform: rotate(-3deg);
        }
    }
}

.hero {
    height: 50vh;
    width: 75vw;
    padding: 0;
    background: transparent;
    overflow: hidden;
    margin-bottom: $gutter;

    &Content {
        position: absolute;
        bottom: 0;
        left: $gutter;
    }

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.aboutContent {
    margin-left: $gutter * 1.5;
}

.aboutCallout {
    background: color(primary);
    padding: $gutter;
    margin-top: -$spacing * 1.75;
    color: color(white);

    h4 {
        color: color(white);
    }

    img {
        margin-right: $gutter * .25;
    }
}





// #HISTORY
// =========================================================================

.history {

    &Container {
        height: 100%;
        padding: $gutter;

        .column-7 {
            overflow: hidden;
            padding-right: $gutter;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        h2 {
            margin-bottom: 0;
        }
    }

    &Benefits {
        background: color(primary);
        width: 150%;
        padding: $gutter $gutter;
        margin-left: -50%;
        color: color(white);

        h5 {
            color: color(white);
        }

        ul {
            list-style-type: square;
            padding-left: $gutter * .25;
        }

        li {
            margin-bottom: $gutter * .25;
        }
    }
}




// #MODELS
// =========================================================================

.models {

    &Container {
        padding: $gutter;
    }

    &Content {
        position: relative;
        padding: $gutter;
        color: color(white);

        h3 {
            color: color(white);
            margin-bottom: 0;
        }

        img {
            width: 55%;
        }

        &:before {
            content: '';
            position: absolute;
            z-index: -20;
            top: 0;
            left: 0;
            height: 40%;
            width: 100%;
            background: color(secondary);
        }

        &:after {
            content: '';
            position: absolute;
            z-index: -10;
            bottom: 15%;
            left: -10%;
            height: 50%;
            width: 110%;
            background: color(white);
            transform: rotate(3deg);
        }

        ul {

            li {

                &:before {
                    content: attr(data-model);
                    color: color(display);
                    font-size: ms(1);
                    font-weight: 900;
                    margin-right: $gutter;
                }
            }
        }
    }

    &Gallery {
        padding-left: $gutter;
        height: calc(100vh - #{$gutter * 4});

        ul {
            height: 100%;
            display: flex;
            flex-direction: column;
        }

        li {
            position: relative;
            height: 33.3333%;
            width: 100%;
            margin-bottom: $gutter;

            &:after {
                content: attr(data-model);
                position: absolute;
                bottom: $gutter * .25;
                right: $gutter * .5;
                color: color(white);
                font-weight: bold;
                font-size: ms(1);
            }

            &:last-of-type {
                margin-bottom: 0;
            }

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}




// #HAMBURGER + MENU
// =========================================================================

.hamburger {
    position: fixed;
    top: calc(100vh - 75px);
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75px;
    width: 75px;
    background: color(black);

    span {
        background: color(white);
    }
}

.content {
    transition: all .35s ease(inOutSine);

    &.offCanvas-open {
        transform: translateX(-#{$offCanvas-width});
    }
}




// #TRANSITIONS
// =========================================================================

.home {
    
    &Img {
        #app.is-exiting & {
            animation: rightOut .5s ease(inOutSine) .5s forwards;
        }

        #app.is-entered & {
            animation: rightOut .5s ease(inOutSine) alternate-reverse;
        }
    }

    &Title {

        h1 {
            opacity: 0;

            #app.is-exiting & {
                animation: rightOut .5s ease(inOutSine) forwards;
            }

            #app.is-entered & {
                animation: leftIn .5s ease(inOutSine) .1s forwards;
            }
        }

        h2 {
            opacity: 0;

            #app.is-exiting & {
                animation: rightOut .5s ease(inOutSine) forwards;
            }

            #app.is-entered & {
                animation: leftIn .5s ease(inOutSine) .2s forwards;
            }
        }
    }

    &Content {

        p {
            opacity: 0;

            #app.is-exiting & {
                animation: rightOut .5s ease(inOutSine) forwards;
            }

            #app.is-entered & {
                animation: leftIn .5s ease(inOutSine) .3s forwards;
            }
        }
    }

    &Carousel {
        opacity: 0;

            #app.is-exiting & {
                animation: rightOut .5s ease(inOutSine) forwards;
            }

            #app.is-entered & {
                animation: leftIn .5s ease(inOutSine) .4s forwards;
            }
    }
}

// About

.aboutContainer {

    #app.is-exiting & {
        animation: upOut .5s ease(inOutSine) .5s forwards;
    }

    #app.is-entered & {
        animation: upOut .5s ease(inOutSine) alternate-reverse;
    }
}

.hero {

    #app.is-exiting & {
        animation: upOut .5s ease(inOutSine) .15s forwards;
    }

    #app.is-entered & {
        animation: upOut .5s ease(inOutSine) alternate-reverse;
    }

    h1 {

        #app.is-exiting & {
            animation: upOut .5s ease(inOutSine) forwards;
        } 
    }
}

.aboutCallout {

    #app.is-exiting & {
        animation: upOut .5s ease(inOutSine) .25s forwards;
    }
}

.aboutContent {

    p {
        animation-delay: .25s;

        &:last-of-type {
            animation-delay: .35s;
        }

        #app.is-exiting & {
            animation: upOut .5s ease(inOutSine) forwards;
        }
    }
}

// HISTORY

.historyImage {

    #app.is-exiting & {
        animation: rightOut .5s ease(inOutSine) .5s forwards;
    }

    #app.is-entered & {
        animation: rightOut .5s ease(inOutSine) alternate-reverse;
    }
}

.historyContent {

    h2 {
        opacity: 0;

        #app.is-exiting & {
            animation: rightOut .5s ease(inOutSine) forwards;
        }

        #app.is-entered & {
            animation: leftIn .5s ease(inOutSine) forwards;
        }
    }

    p {
        opacity: 0;
        animation-delay: .15s;

        &:last-of-type {
            animation-delay: .25s;

            #app.is-entered & {
                animation: leftIn .5s ease(inOutSine) .2s forwards;
            }
        }

        #app.is-exiting & {
            animation: rightOut .5s ease(inOutSine) forwards;
        }

        #app.is-entered & {
            animation: leftIn .5s ease(inOutSine) .1s forwards;
        }
    }
}

.historyBenefits {
    opacity: 0;

    #app.is-exiting & {
        animation: rightOut .5s ease(inOutSine) .35s forwards;
    }

    #app.is-entered & {
            animation: leftIn .5s ease(inOutSine) .2s forwards;
        }
}


//  MODELS

.modelsContent {

    #app.is-exiting & {
        animation: upOut .5s ease(inOutSine) .5s forwards;
    }

    &:before {
        opacity: 0;

        #app.is-entered & {
            animation: downIn .5s ease(inOutSine) forwards;
        }
    }

    h3 {

        #app.is-exiting & {
            animation: upOut .5s ease(inOutSine) forwards;
        }

        #app.is-entered & {
            animation: downIn .5s ease(inOutSine) forwards;
        }
    }

    p {
        opacity: 0;

        #app.is-exiting & {
            animation: upOut .5s ease(inOutSine) .15s forwards;
        } 

        #app.is-entered & {
            animation: downIn .5s ease(inOutSine) .1s forwards;
        }
    }
}

.modelsPlans {
    li {
        opacity: 0;

        &:nth-of-type(2) {
            animation-delay: .25s;

            #app.is-entered & {
                animation: downIn .5s ease(inOutSine) .25s forwards;
            }
        }

        &:last-of-type {
            animation-delay: .35s;

            #app.is-entered & {
                animation: downIn .5s ease(inOutSine) .35s forwards;
            }            
        }

        #app.is-exiting & {
            animation: upOut .5s ease(inOutSine) forwards;
        }

        #app.is-entered & {
            animation: downIn .5s ease(inOutSine) .15s forwards;
        }
    }
}

.modelsGallery {

    li {
        animation-delay: .05s;
        opacity: 0;

        &:nth-of-type(2) {
            animation-delay: .15s;

            #app.is-entered & {
                animation: downIn .5s ease(inOutSine) .25s forwards;
            }
        }

        &:last-of-type {
            animation-delay: .25s;  

            #app.is-entered & {
                animation: downIn .5s ease(inOutSine) .35s forwards;
            }          
        }

        #app.is-exiting & {
            animation: upOut .5s ease(inOutSine) .15s forwards;
        }

        #app.is-entered & {
            animation: downIn .5s ease(inOutSine) forwards;
        }
    }
}

@keyFrames rightOut {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(100px);
    }
}

@keyframes leftIn {
    from {
        opacity: 0;
        transform: translateX(200px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyFrames upOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-100px);
    }
}

@keyFrames downIn {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
