{% extends 'layouts/page.twig' %}

{% block pageclass %}about{% endblock %}

{% block content %}

    <div class="container container-block container-full aboutContainer">
        <div class="hero">
            <div class="heroContent">
                <h1>About</h1>
            </div>
            <img src="/assets/img/model1.png" draggable="false">
        </div>
        <div class="container container-full">
        <div class="column-7 aboutContent">
            <p>As the newest division of the Landscape Effects Group of companies, Innovative Lifescapes was founded at the intersection of two longstanding divisions of the group: Landscape Effects Design & Build and Rochester Place Gold Club & Resort. Landscape Effects is known for embracing modern design and construction. This seamlessly carries over into the Innovative Lifestyle’s brand.</p>
            <p>After undergoing a major transformation in recent years, Rochester Place Golf Club & Resort is an emerging lifestyle destination in Southwestern Ontario. The vision, direction, and leadership of a strong team is what led Rochester Place into a complete redevelopment, offering a new style of camping.
            <br>
            <a href="/history">Our History <i class="fa fa-caret-right"></i></a>
            </p>
        </div>
        <div class="column-4 aboutCallout">
            <h4>Contact Us</h4>
            <p>We’d love to hear from you. For sales and general inquiries feel free to call, email, or stop by our showroom.</p>
            <ul>
                <li><img src="/assets/img/phone.svg" draggable="false">1.800.555.5555</li>
                <li><img src="/assets/img/phone.svg" draggable="false">1023 Essex County Rd 2, Lakeshore, ON N0R</li>
                <li><img src="/assets/img/phone.svg" draggable="false">info@innovativelifescapes.com</li>
            </ul>
        </div>
        </div>
    </div>
{% endblock %}
