{% extends 'layouts/page.twig' %}

{% block pageclass %}history{% endblock %}

{% block content %}

    <div class="container container-collapsed container-full historyContainer">
        <div class="column-7"><img src="/assets/img/historyImage.jpg" draggable="false" class="historyImage"></div>
        <div class="column-4 historyContent">
            <h2>Our History</h2>
            <p>Landscape Effects Design & Build was founded by Paul St. Pierre. In its 25-year history, it has earned the reputation of being one of Southwestern Ontario’s premier landscaping companies. Having received over 40 Landscape Ontario awards over the last 10 years, the team at Landscape Effects is excited to apply their experience and skills to a new opportunity.</p>
            <p>Although the Landscape Effects Group of Companies has evolved and taken different forms over the past 25 years, the one thing has always remained constant is their unwavering commitment to never embrace the status quo. This philosophy that is sure to define and elevate the Innovative Lifestyle’s brand.</p>
            <div class="historyBenefits">
                <h5>Big Enough to Provide, Small Enough to Care</h5>
                <ul>
                    <li>Handcrafted, Boutique style production</li>
                    <li>Built to suit modern day lifestyles</li>
                    <li>Designed by industry professionals</li>
                    <li>Transparent and honest management </li>
                    <li>Constantly evolving to suit industry needs</li>
                    <li>High degree of service quality</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
