{% extends 'layouts/master.twig' %}

{% block content %}
    <a href="/" class="homeBrand">
        <img src="/assets/img/logo.svg" draggable="false">
    </a>

    <div class="container container-full container-collapsed homeContainer">
        <div class="column-6">
            <img src="/assets/img/homeImage.jpg" draggable="false" class="homeImg">
        </div>
        <div class="column-6 homeContent">
            <div class="homeTitle">
                <h1>Big Ideas</h1>
                <h2>For Any Space</h2>
            </div>
            <p>Our vision is to champion a movement to reshape the camping and leisure industry in Ontario and across Canada. We desire to do so based on the principles of modern design, innovative construction, and quality service.</p>
            <ul class="jsCarousel homeCarousel">
                <li>
                    <a href="/about">
                        <!-- Generator: Adobe Illustrator 21.1.0, SVG Export Plug-In  -->
<svg version="1.1"
     xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
     x="0px" y="0px" width="45.5px" height="45.5px" viewBox="0 0 45.5 45.5" style="enable-background:new 0 0 45.5 45.5;"
     xml:space="preserve">
<style type="text/css">
    .st0{fill:#CB2027;}
</style>
<defs>
</defs>
<g>
    <path class="st0" d="M22.8,45.5C10.2,45.5,0,35.3,0,22.8S10.2,0,22.8,0s22.8,10.2,22.8,22.8S35.3,45.5,22.8,45.5z M22.8,4.3
        c-10.2,0-18.5,8.3-18.5,18.5s8.3,18.5,18.5,18.5s18.5-8.3,18.5-18.5S32.9,4.3,22.8,4.3z"/>
</g>
<rect x="20.8" y="20.8" class="st0" width="4" height="12"/>
<rect x="20.8" y="12.8" class="st0" width="4" height="4"/>
</svg>

                About</a>
                    <img src="/assets/img/model1.png" draggable="false">
                </li>
                <li>
<a href="/history">
<svg version="1.1"
     xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
     x="0px" y="0px" width="45.5px" height="45.5px" viewBox="0 0 45.5 45.5" style="enable-background:new 0 0 45.5 45.5;"
     xml:space="preserve">
<style type="text/css">
    .st0{fill:#CB2027;}
</style>
<defs>
</defs>
<g>
    <path class="st0" d="M22.8,45.5C10.2,45.5,0,35.3,0,22.8S10.2,0,22.8,0s22.8,10.2,22.8,22.8S35.3,45.5,22.8,45.5z M22.8,4.3
        c-10.2,0-18.5,8.3-18.5,18.5s8.3,18.5,18.5,18.5s18.5-8.3,18.5-18.5S32.9,4.3,22.8,4.3z"/>
</g>
<g>
    <path class="st0" d="M28.1,13.8H17.4c-1,0-1.8,0.8-1.8,1.8v14.3c0,1,0.8,1.8,1.8,1.8h10.8c1,0,1.8-0.8,1.8-1.8V15.6
        C29.9,14.6,29.1,13.8,28.1,13.8z M17.4,15.6h4.5v7.2l-2.2-1.3l-2.2,1.3V15.6z"/>
</g>
</svg>

History</a>
                    <img src="/assets/img/model2.png" draggable="false">
                </li>
                <li>
<a href="/models">
<svg version="1.1"
     xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
     x="0px" y="0px" width="45.5px" height="45.5px" viewBox="0 0 45.5 45.5" style="enable-background:new 0 0 45.5 45.5;"
     xml:space="preserve">
<style type="text/css">
    .st0{fill:#CB2027;}
</style>
<defs>
</defs>
<g>
    <path class="st0" d="M22.8,13.2l-4.3,3.9v-1.9h-2.6v4.2l-3.2,2.9l1.2,1.3l1.1-1v9c0,0.5,0.4,0.9,0.9,0.9H21v-5.2h3.4v5.2h5.2
        c0.5,0,0.9-0.4,0.9-0.9v-9l1.1,1l1.2-1.3L22.8,13.2z M24.5,23.8H21v-3.4h3.4V23.8z"/>
</g>
<g>
    <path class="st0" d="M22.8,45.5C10.2,45.5,0,35.3,0,22.8S10.2,0,22.8,0s22.8,10.2,22.8,22.8S35.3,45.5,22.8,45.5z M22.8,4.3
        c-10.2,0-18.5,8.3-18.5,18.5s8.3,18.5,18.5,18.5s18.5-8.3,18.5-18.5S32.9,4.3,22.8,4.3z"/>
</g>
</svg>

            Models</a>
                    <img src="/assets/img/model3.png" draggable="false">
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
