/*
|--------------------------------------------------------------------------
| #THEME
|--------------------------------------------------------------------------
*/



// #RADIUS
// =========================================================================

$has-radius: true;



// #SHADOWS
// =========================================================================

$has-shadow: false;

$button-has-shadow: false;




// #NAV
// =========================================================================

$nav-fixed: true;

$menu-right: true;




// #SIDEBAR
// =========================================================================

$has-sidebar: true;

$sidebar-width: 200px;

$sidebar-brand-height: 75px;
